<div class="menu">
  {% if settings.header-search-show %}
    <a class="searchbar-open" href="#">{{ 'layout.header.search_toggle_link' | t }}<span aria-hidden="true" class="glyph search"></span></a>
  {% endif %}


<div class="cart">
  <a class="cart-link" href="/cart"><span class="number">{{ cart.item_count }}&nbsp;</span><span aria-hidden="true" class="cart-ico icomoon"></span><span>{{ 'layout.header.cart' | t }}</span></a>
  <div class="recently-added">
      <table width="100%">
        <thead>
          <tr>
            <td colspan="3">{{ 'products.recently_added_popup.title' | t }}</td>
          </tr>
        </thead>
        
        <tbody>
          

        </tbody>

        <tfoot>
          <tr>
            <td class="items-count"><a href="/cart"><span class="number">{{ cart.item_count }}</span> {{ 'products.recently_added_popup.items' | t }}</a></td>
            <td colspan="2" class="text-right all-caps"><strong>{{ 'products.recently_added_popup.total' | t }} <span class="total-price" style="margin-left:5px;">{{ cart.total_price | money }}</span></strong></td>
          </tr>
        </tfoot>
        
      </table>

      <div class="row"> 
        <div class="checkout">
          <a class="btn" href="/cart">{{ 'products.recently_added_popup.checkout_button' | t }}</a>
        </div><!-- #cart-meta -->
      </div>

      <div class="error">
        <p>{{ 'products.recently_added_popup.unavailable' | t }}</p>
      </div>

    </div>
</div>


  {% if settings.header-account-show and shop.customer_accounts_enabled %}
    {% comment %}<a class="account-open" href="#">{{ 'layout.header.account_toggle_link' | t }}<span aria
    -hidden="true" class="glyph account"></span></a>{% endcomment %}
    <div class="account">
      {% if customer%}
          <a class="account-icon" href="/account/logout"><span aria-hidden="true" class="account-ico icomoon"></span><span>Logout</span></a>
      {% else %}
        <a class="account-icon" href="/account"><span aria-hidden="true" class="account-ico icomoon"></span><span>Login</span></a>
      {% endif %}
    </div>
  {% endif %}

  
    
</div>

<div class="searchbar-container">
  <form  action="/search" method="get" role="search">
    {% if settings.search-products-only %}<input type="hidden" name="type" value="product" />{% endif %}
    <input name="q" type="text" placeholder="{{ 'layout.header.search_placeholder' | t }}" class="search-box hint text" />
    {% comment %}<input type="submit" value="" name="submit" aria-hidden="true" class="glyph search"  />{% endcomment %}
    <button class="glyph search"></button>
  </form>
  <a href="#" aria-hidden="true" class="searchbar-close glyph cross"></a>
</div>

<div class="account-container">
  {% if customer %}
    {% assign view_account_link = 'layout.header.account_view_link' | t %}
    {% capture view_account_link %}<a href="/account">{{ view_account_link }}</a>{% endcapture %}
    {% assign logout_link = 'layout.header.account_logout_link' | t %}
    {% assign logout_link = logout_link | customer_logout_link %}

    {{ 'layout.header.account_signed_in_html' | t: view_account_link: view_account_link, logout_link: logout_link  }}

    {% comment %}<a href="/account">View Account (Logged in as {{ customer.first_name }})</a> <span class="separator">|</span> {{ "Logout" | customer_logout_link }}{% endcomment %}
  {% else %}
    {% assign login_link = 'layout.header.account_login_link' | t %}
    {% assign login_link = login_link | customer_login_link %}
    {% assign signup_link = 'layout.header.account_signup_link' | t %}
    {% assign signup_link = signup_link | customer_register_link %}

    {% if shop.customer_accounts_optional %}
      {{ 'layout.header.account_signed_out_html' | t: login_link: login_link, signup_link: signup_link  }}
    {% else %}
      {{ login_link }}
    {% endif %}
  {% endif %}
  <a href="#" aria-hidden="true" class="account-close glyph cross"></a>
</div>



